
<div class="span12 body_layout" >
	<div class='own_page_header'>	
	   <h3>Tasks Approval</h3>
	   <div style='margin-top:-15px'>
	     <p>approve or reject a tasks<p>
	     <b><%="#{@total_count} sent for approval" %></b>	
	   </div>
	</div>
  <div style='padding:20px'>
	

	<br/>

	<%= render partial: 'to_be_approved' %>
	
  </div>
</div>	