<%- model_class = Person -%>
<div class="span9 body_layout">
  <div style='padding:20px'>
    <div class="page-header">
      <h3><%= 'Tasks Management' %></h3>
    </div>
    <%= render :partial => 'form' %>
  </div>
</div>
