<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('.icon-remove').popover(
	  {
	     trigger: 'hover',
	     html: true,
	     placement: 'right',
	     content: '<div style="background: blue;color:white;padding:5px"><b>Are you sure you want to remove this person from this event?</b></div> <br/> This will remove the person from this event.<br/><br/> Click <font style="color:red">x</font> to cancel.'
	  });    

	$(".icon-remove").click(function(){
	  	var id = $('#event_id').val();
		var person = $(this).attr('id');
		$.ajax({
		  type: "PUT",
		  dataType: "script",
		  url: "http://"+location.host+"/remove_person/",
		  data: {id: id, person: person},
	      beforeSend: function(data)
		  {
		    $('.spin_' + person).show();
		  },
		  success: function(response)
		  {
			$(this).hide(); 
		    $('.spin_'+ person).hide();
		  }
	    });
		return false;
    });

	$("#submit_events").click(function(){

	  var arr_people = new Array();
	
	  $('#test input[type="checkbox"]:checked').each(function() {
        arr_people.push($(this).val());
	  });
    		
	  if(arr_people.length === 0){
		$('#submit_modal').modal();
		$('#modal-message').html("Please select people to add!");
		$('#submit_link').hide();
		return false;
	  }
	  else{
		$('#submit_modal').modal();
		$('#modal-message').html("Are you sure you want to approve selected?");
		$('#submit_link').show();
		return false
	  } 
    });	
	
    $('#submit_link').click(function(){
	     var arr_people = new Array();
	     var id = $('#event_id').val();
	   
		 $('#test input[type="checkbox"]:checked').each(function() {
		   arr_people.push($(this).val());
		 });
		
	  	 $.ajax({
		      type: "PUT",
		      dataType: "script",
		      url: "http://"+location.host+"/add_people/",
		      data: {people: arr_people, id: id},
		      beforeSend: function(data)
		      {
			    $('#spin').show();
		      },
		      success: function(response)
		      {
			    $('#spin').hide();
				$('#submit_modal').modal('hide'); 				
		      }
		 });
		return false;
    });
  });
</script>