<%= render partial: 'submit_form_js' %>

<div class='own_page_header'>	
  <h5>
	<h5>Select people to add in this event</h5>	
  </h5>
</div>
 
<div id="submit_modal" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <font style='color:green'><h4>Submit Request!</h4></font>  
  </div>  
  <div class="modal-body">   
    <div id='modal-message'>Are you sure you want to notify selected people?</div> <div id='spin'>
	  processing <%= image_tag 'spin.gif' %>
	</div></p>                
  </div>  
  <div class="modal-footer">  
    <a href="#" class="btn btn-success" id='submit_link'>Send a notification</a>  
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
  </div>  
</div>

<div style='padding-left:20px;padding-bottom:20px' id='test'>

	<% for person in Person.all do %>
	  <% if person.id != current_user.id  %>
	  <%= check_box_tag("people[]",person.id,false,{}) %>&nbsp;<span><%= person.first_name + " " + person.last_name %></span></br>
	  <% end %> 
	<% end %>
	
	<br/>
	
	<span class="label label-success" id= 's' style='display:none;margin-bottom:20px'>Successfully Submitted</span>
	
    <div class = 'btn btn-primary' id='submit_events' >
      Add People
    </div>
</div>