<div class="span9 body_layout">
 <div class='own_page_header'>		
   <h3>Events</h3>

	<div class='pull-right' style='margin-top:-40px'>
	  <%= link_to 'Create Event',
	            new_event_path, :class => 'btn' %>
	</div>
 </div>
 
 <div style='padding:10px' id='events_list'>
   <%= render partial: 'events' %>
 </div>
 <br/><br/>
</div>
