<div class="span6 body_layout">
   <div class='own_page_header'>		
     <h3>Edit Leave</h3>
   </div>
 	
   <div style='padding:20px' id='calendar'>
     <%= render partial: 'form' %> 	
   </div>
</div>