<div class="span9 body_layout">
   <div class='own_page_header'>		
     <h3>Leave</h3>
	
	<div class='pull-right' style='margin-top:-40px'>
	  <%= link_to 'Create Leave',
	            new_leafe_path, :class => 'btn' %>
	</div>
   </div> 	
   <div style='padding:20px'>
	
	<div id="cancel_modal" class="modal hide fade in" style="display: none; ">  
	  <div class="modal-header">  
	    <a class="close" data-dismiss="modal">×</a>  
	    <font style='color:green'><h4>Cancel Request!</h4></font>  
	  </div>  
	  <div class="modal-body">   
	    <div id='cancel-modal-message'>

		</div> 
		<div id='spin2'>
		  processing <%= image_tag 'spin.gif' %>
		</div></p>                
	  </div>  
	  <div class="modal-footer">  
	    <a href="#" class="btn btn-success" id='cancel_link'>Cancel Request</a>  
	    <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
	  </div>  
	</div>
	
     <div id='leaves_list'>	
       <%= render partial: 'leaves' %>
     </div>	 	
   </div>
</div>	

<div class="span3 side_layout">
  <div class="sidebar-nav">
    <div id='forms'>
      <div class='details2'>
        <%= render :partial => 'details2' %>  	
      </div>
    </div>
  </div>
</div>