<div class='details'>  
  <div id='progress'> 
    <%= render :partial => 'progress_bar', :locals => { :rate => @rate } %>
  </div>
  <div id='time_summary'>
    <%= render :partial => 'time_summary' %>
  </div>
</div>