<%= render partial: 'submit_form_js' %>
<div class='own_page_header'>	
  <h5>
	<h5>Select people to notify</h5>	
	<div id='spin'>
	  <%= image_tag 'spin.gif' %>
	</div>
  </h5>
</div>
 
<div style='padding-left:20px;padding-bottom:20px' id='test'>


	<% for person in people_that_can_approve do %>
	
	  <%= check_box_tag("people[]",person.id,false,{}) %>&nbsp;<span><%= person.first_name + " " + person.last_name %></span></br>
	
	<% end %>
	
	<br/>
	
	<span class="label label-success" id= 's' style='display:none;margin-bottom:20px'>Successfully Submitted</span>
	
    <div class = 'btn btn-primary' id='submit_tasks' >
      Submit Tasks Today
    </div>
</div>