<table class="table table-striped">
   <thead>
     <tr>
       <th>Activity</th>
       <th>Specific Activity</th>     
       <th><%= "Start Time" %></th>
       <th><%= "End Time" %></th>
       <th><%= "Total Time" %></th>
   	   <th></th>	

     </tr>
   </thead>
   <tbody>
	 <tr id='hey' style='display:none'><tr>	
     <%= render partial: 'task', :collection => @tasks %>
   </tbody>
 </table>