/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.body_layout{
  background-color: #fff;
  border-radius: 10px;	
  margin-left:10px !important;
  margin-top:-10px;
}

.side_layout{
  background-color: #fff;
  border-radius: 10px;	
  margin-top:-10px;
}

#flash_notice{
  background-color:#d0ffc9;
  color:#4a4;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 10px;

  border-bottom:1px solid #aedda7;
  border-top:1px solid #aedda7;
  display:none;
}

#flash_warning{
  background-color:#ffc9d1;
  color: #900202;	
  height: 30px;
  font-size: 14px;	
  padding-left: 10px;
  padding-top: 10px;
  border-bottom:1px solid #900202;
  border-top:1px solid #900202;
  display:none;
}

.notice{
  background-color:#d0ffc9;
  color:#4a4;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 30px;
  border-bottom:1px solid #aedda7;
  border-top:1px solid #aedda7;
}

.notice h3 {
  padding-bottom:30px !important;
  font-size: 14px;
}

.warning{
  background-color:#ffc9d1;
  color: #900202;	
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 30px;	
  border-bottom:1px solid #900202;
  border-top:1px solid #900202;
}
.warning h3 {
  padding-bottom:30px !important;
  font-size: 14px;
}

.js_form{
 float:left;
 width: 47%;	
}

.js_flash{

 width: 50%;
 float: right;	
}
.create-account-button {
cursor: pointer;
height: 26px;
line-height: 24px;
font-size: 13px;
padding: 0 15px;
background-color: #741b09;
color: #d6bbb6;
float: right;
margin: 12px 10px 0 0;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
}

.create-account-button:hover{
	background: #d22000;
	color: white;
	text-decoration: none;
}

.top-logout-button {
cursor: pointer;
height: 26px;
line-height: 24px;
font-size: 13px;
padding: 0 15px;
background-color: #383736;
color: #c4c3c3;
float: right;
margin: 12px 2px 0 0;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
}