/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */

.dash_noti{
 width: 100%;
 padding-top:10px;
 padding-bottom: 15px;	
 border-bottom: 1px solid #eee;
 overflow: auto;
}

.noti_pic{
 width: 40px;
 height: 40px;	
 float:left;	
}
.noti_info{
 float:left;
 margin-left:10px;	
}

.body_layout{
  background-color: #fff;
  box-shadow: 4px 0 8px #B1B1B1 !important;

  margin-top:-10px;

}

.side_body_layout{
  
}

.side_layout{
  background-color: #fff;

  margin-top: -10px;

  box-shadow: 4px 0 8px #B1B1B1 !important;
}

#flash_notice{
  background-color:#d0ffc9;
  color:#4a4;
  height: 30px;
  font-size: 12px;
  padding-left: 20px;
  padding-top: 10px;

  border-bottom:1px solid #aedda7;
  border-top:1px solid #aedda7;
  display:none;
}

#flash_warning{
  background-color:#ffc9d1;
  color: #900202;	
  height: 30px;
  font-size: 12px;	
  padding-left: 20px;
  padding-top: 10px;
  border-bottom:1px solid #900202;
  border-top:1px solid #900202;
  display:none;
}

.notice{
  background-color:#d0ffc9;
  color:#4a4;
  height: 30px;
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 30px;
  border-bottom:1px solid #aedda7;
  border-top:1px solid #aedda7;
}

.notice h3 {
  padding-bottom:30px !important;
  font-size: 12px;
}

.warning{
  background-color:#ffc9d1;
  color: #900202;	
  height: 30px;
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 30px;	
  border-bottom:1px solid #900202;
  border-top:1px solid #900202;
}
.warning h3 {
  padding-bottom:30px !important;
  font-size: 12px;
}

.js_form{
 float:left;
 width: 47%;	
}

.js_flash{

 width: 50%;
 float: right;	
}
.create-account-button {
cursor: pointer;
height: 26px;
line-height: 24px;
font-size: 11px;
padding: 0 15px;
background-color: #741b09;
color: white !important;
float: right;
margin: 12px 10px 0 0;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
}

.create-account-button:hover{
	background: #d22000;
	color: white;
	text-decoration: none;
}

.top-logout-button {
cursor: pointer;
height: 26px;
line-height: 24px;
font-size: 11px;
padding: 0 15px;
background-color: #383736;
color: white !important;
float: right;
margin: 12px 2px 0 0;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
}

.top-logout-button:hover{
 background: #B1B1B1;
 	
}

.own_page_header {
background:#D8EECF;
margin: 0 0 5px 0;
padding: 13px 30px 13px 24px;
}