<div class="span9" style='width: 100%'>
  <div style='padding:20px'>
	<br/> 
	<div class="alert alert-info" style='width: 50% !important;'>	
      <%= render partial: 'search_tasks_form' %>
    </div>
    <%= render partial: 'search_results' %>
  </div>
</div>