<div class="span12 body_layout">
  <div style='padding:20px'>
	<br/> 
	<div class="alert alert-info" style='width: 60% !important;'>	
      <%= render partial: 'search_tasks_form' %>
    </div>
    <%= render partial: 'search_results' %>
  </div>
</div>