<div class="span9 body_layout" style='width: 98.5%'>
  <div style='padding:20px'>
	</br>
	<div class="alert alert-info" style='width: 70% !important;'>	
      <%= render partial: 'search_tasks_form' %>
    </div>
  </div>
</div>	