<%if !flash.blank? %>
  <% if flash[:notice] %>
    <div id="flash_notice">
    <%= flash[:notice]%>
      <% flash[:notice] = nil %>
    </div>
  <% end %>
  <% if flash[:warning] %>
    <div id="flash_warning">
  <%= flash[:warning]%>
      <% flash[:warning] = nil %>
    </div>
  <% end %>
<% end %>